.form-container {
  display: block;
  text-align: center;
}
.title-bar * {
  display: block;
  text-align: center;
  color: white;
  font-family: "futura-pt-bold";
  color: #FBB03B;
  font-size: 25px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 20px;
}

body {
  color: white;
  height: 800px;
  background: url('img/orientationbackground2.png');
  background-size: 1280px 1920px;
  background-repeat: no-repeat;
  margin: 0;
  font-family: "futura-pt-bold";
  color: #FBB03B;
}

.form-top-text {
  font-size: 55px;
  margin-top: 35px;
  margin-bottom: 0;
}

input {
  margin: auto;
  height: 50px;
  width: 250px;
  font-size: 30px;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  left: 0;
  right: 0;
}

.instructions {
  position: relative;
  font-size: 16px
  top: 100px;
}

.id-pic {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  display: block;
}

.top-arrow, .bottom-arrow {
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  height: 170px;
}

.spinner {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45%;
  display: none;
}


