.form-container {
  display: block;
  text-align: center;
}
.title-bar * {
  display: block;
  text-align: center;
  background: ;
  color: white;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

body {
  color: white;
  height: 800px;
  background-image: url('img/orientationformmock.png');
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
}

.form-top-text {
  font-size: 45px;
  margin: 0;
}

.fa {
  padding-top: 20px;
  display: block;
  font-size: 120px;
}

input {
  margin: auto;
  height: 70px;
  width: 350px;
  font-size: 40px;
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  left: 0;
  right: 0;
}

.instructions {
  position: relative;
  top: 125px;
}

.id-pic {
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  display: block;
}

.arrow {
  margin-top: 35px;
  margin-left: 350px;
  height: 100px;


